.ql-editor {
    padding: 0 !important; /* 왼쪽에 패딩이 있을 시 파일 첨부 후 왼쪽 패딩 공간 부분 클릭 시 toolbar가 나와서 0으로 지정 */
    position: relative !important;
}

.ql-toolbar {
    border: none !important;
    visibility: hidden;
}

.ql-toolbar.visible {
    visibility: visible;
}
 
.ql-container {
    border: none !important;
    /* 텍스트 컨테이너가 넘치는 현상 방지 */
    word-break: break-all;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: pre-wrap;
}

.ql-container::after {
    content: "";
    display: block;
    height: 40vh; /* 뷰포트 높이의 40% 만큼 추가 공간을 만듦 */
}

.ql-editor img {
    cursor: pointer;
}

.ql-editor a {
    text-decoration: none !important;
}

.ql-code-block-container .ql-ui {
    background-color: #333 !important;
    border: 1px solid #fff !important;
}

.ql-file {
    cursor: pointer;
}
 
/* .image-actions__overlay {
 display: none !important;
  } */

/* .image-actions__toolbar-button {
    display: none !important;
} */
