@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* layout.tsx 부분에 나중에 변경  */

  /* font-size: .938rem;
  font-weight: 500; */
  /* background-color: var(--body-color);
  color: var(--text-color);  */
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* toast  */

/* Toast 알림 크기 줄이기 */
/* .Toastify__toast {
  font-size: .8rem;  
} */